<app-frame>

    <table>
        <thead>
            <th>Valid From</th>
            <th>Valid Until</th>
            <th>Issuer</th>
            <th>Object</th>
            <th>Download</th>
            <th></th>

        </thead>
        <tbody>
            <tr *ngFor="let cert of list">
                <td>{{cert.validFrom}}</td>
                <td>{{cert.validUntil}}</td>
                <td>{{cert.issuer.cn}}</td>
                <td><span *ngFor="let subject of cert.subjects">{{subject.cn}}&nbsp;</span></td>
                <td><a [href]="'data:application/data;base64,'+btoa(cert.pemEncoded) | safeUrl" [download]="cert.subjects[0].cn+'.cer'">Download</a></td>
                <td><button  class="delete" (click)="deleteCAClick(cert.id)"><i></i></button></td>
            </tr>
        </tbody>
    </table>

    <button class="add" (click)="addCAClick()">+</button>
   
</app-frame>


